@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-feature-settings: 'ss01', 'ss02', 'ss03', 'zero', 'tnum';
  }
}

@layer components {
  .icon-filled {
    font-family: var(--font-material-symbols);
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 1.125rem;
    font-feature-settings: 'liga';
    font-variation-settings: 'FILL' 1;
    @apply shrink-0 w-6 h-6 text-center;
  }
  .icon-outlined {
    font-family: var(--font-material-symbols);
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 1.125rem;
    font-feature-settings: 'liga';
    font-variation-settings: 'FILL' 0;
    @apply shrink-0 w-6 h-6 text-center;
  }
}
